chainlit==2.7.2
datasets==4.0.0
fastapi==0.116.1
fastembed==0.7.3
fitz==0.0.1.dev2
langchain==0.3.27
minio==7.2.16
numpy==2.3.2
openai==1.104.2
pandas==2.3.2
pydantic==2.11.7
python-dotenv==1.1.1
qdrant_client==1.15.1
redis==6.4.0
redisvl==0.8.2
sentence_transformers==5.0.0
SQLAlchemy==2.0.43
psycopg2==2.9.10
uvicorn==0.35.0
chainlit==2.6.8
httpx==0.28.1
huggingface-hub==0.34.3
langchain==0.3.27
langchain-core==0.3.75
langchain-openai==0.3.32
pdfplumber==0.11.7
rank-bm25==0.2.2
tiktoken==0.11.0
tokenizers==0.21.4
torch==2.2.2
tqdm==4.67.1
transformers==4.54.1
urllib3==2.5.0

